html {
  background-color: #282c34;
  color: ghostwhite;
  height: 100vh;
}

body {
  padding: 5px;
}

.App-header {
  height: 75px;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.Image-Container {
  width: 85%;
  margin: 0px auto;
  display: grid;
  grid-gap: 1em .5em;
  grid-template-columns: repeat(auto-fill, [col-start] 250px [col-end]);
}

.Image-Container img {
  border: 2px solid ghostwhite;
  border-radius: 2px;
}

.Directory-Container {
  width: 85%;
  margin: 0px auto;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 1em .5em;
  grid-template-columns: repeat(auto-fill, [col-start] 250px [col-end]);
}

.Directory-Container img {
  cursor: pointer;
}

.Directory-Container a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: bold;
}

.Directory-Container a:hover {
  text-decoration: inherit;
}

.Directory-Container a:visited {
  text-decoration: inherit;
}

.Inline-Container {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
}

.Inline-Container::after {
  padding: 5px;
}

.Page-Button {
  background-image: linear-gradient(to right, coral, coral);
  border-radius: 15px;
  font-size: 1.5em;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border: none;
}

.Page-Button-Disabled {
  background-image: linear-gradient(to right, gray, gray);
}